*~
#*
compile*
node_modules
fileprefix.txt
Sigma16UserGuideText.html
Sigma16UserGuideText.pdf
README.html
.env
build
*temp*
*TEMP*
protect*
deprecated*
*.lst.txt
*.md.txt
*.obj.txt
Sigma16UserGuide*.tex
*.bbl
*old*
*Spectre*
*.fdb_latexmk
*.dvi
*.fls
*.hi
*.o
*.exe
*.bcf
*.run.xml
*.log
*.aux
*.out
*.toc
*.idx
*.ilg
*.ind
*.el
*.zip
auto
