*~
.env
fileprefix.txt
build
*temp*
protected
protect*
node_modules
*.wasm
*.html
!Sigma16.html
!Sigma16UserGuide.html
!HydraUserGuide.html
!
*.lst.txt
*.obj.txt
*.md.txt
*.exe.txt
*.xmd.txt
deprecated*
*.hi
*.o
*.exe
*.aux
*.log
*.tex
*.out
*.toc
*.el
*.zip
auto
