*~
#*
.env
fileprefix.txt
build
*temp*
*TEMP*
protected
protect*
node_modules
*old*
*Spectre*
*.wasm
*.lst.txt
*.obj.txt
*.md.txt
deprecated*
*.hi
*.o
*.exe
*.aux
*.log
*.tex
*.out
*.toc
*.el
*.zip
auto
