table.wordlayout, th, td {
    table-layout: fixed;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
}
