body {
    margin: auto;
    max-width: 45em;
    padding-right: 0.5em;
    padding-left: 0.5em;
/*    border-left: 1px solid black;
    border-right: 1px solid black;
*/
    color: black;
    font-family: Verdana, sans-serif;
    font-size: 100%;
    line-height: 140%;
    }

pre {
    border: 1px dotted gray;
    color: black;  
    padding: 1em;
}

code {
    font-family: monospace;
    }

.quickstartbox {
    line-height: 2.5;
}

pre.example {
    background-color: #e6ffff; /* light blue background */
    color: black;
}

pre.src-sigma16 {
    background-color: #e6fff2; /* light green background */
    color: black;
}

pre.src-hydra {
    background-color: #ffffe6; /* light yellow background */
    color: black;
}

h1 {
    color: #0000ff;
    border: solid; border-width: thin; border-color: red;
/*     background: #ddeedd; */
     padding-top: 0.5em;
     text-align: center;
     font-family: verdana;
/*     font-weight: bold; */
     font-size: 160%;
     line-height:150%;
     padding-bottom: 0.5em;
}

h2 {padding-top: 1em;
    text-align: left;
    font-size: 140%;}

h3 {
        font-size: 130%;
}

h4 {
        font-size: 110%;
        font-style: italic;
}

h5 {
        font-size: 105%;
        font-style: italic;
}


dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

footer {
        padding-top: 1em;
        font-size: 70%;
        color: gray;
        text-align: center;
}

  img {
    padding-left: 0em; padding-right: 0em;
    padding-top: 0em; padding-bottom: 0em;
    }

A:link    { color: #0000e0; text-decoration: none }
A:visited { color: #0000a0; text-decoration: none }
A:hover   { background-color: #e0e0ff; text-decoration: none }

h2.author {
  text-align: center;
  font-size: 110%;}

h3.date {
 text-align: center;
  font-size: 100%;}
}

div.titletemp {
    color: navy;
}  

  div.box {
    border: solid; border-width: thin; border-color: red;
    padding-left: 1em; padding-right: 1em;
    padding-top: .5em; padding-bottom: .5em;
    }

  div.color {
    background: yellow;
    padding: 0.5em;
    border: none;
    }

  div.floatright {
    float: right;
    margin: 0 0 10px 10px;
    }

  div.floatleft {
    float: left;
    margin: 0 0 10px 10px;
    }

.floatright {
    border : dotted; border-width: thin; border-color: red;
    padding-left: 1em; padding-right: 1em;
    padding-top: 1em; padding-bottom: 1em;
}


.clearit {
  clear: both;
  }

.figure {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0em;
  }

/* For Sigma16 homepage */
div.quickstartbox {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 4em;
    margin-right: 4em;
    border: solid;
    border-width: medium;
    border-color: red;
    padding-left: 1em; padding-right: 1em;
    padding-top: 0.75em; padding-bottom: 0.75em;
    font-size: 170%;
    line-height: 120%;
    text-align: center;
    }

VersionText {
   font-size: 120%;
}

/*
The following contains parts of Sigma16 style that differ from Hydra style

html {
    width: 100%;
    color: black;
    background: white;
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
    line-height: 120%;

    padding-right: 1em;
    padding-left: 1em;
    margin: auto;
    left: 0em;
    right: 0em;

    }

pre {
    background-color: #d9fcfa;
    color: #1111111;
    padding: 0.5em;
}

h1 {
     background: #ddeedd;
     text-align: center;
     border: solid;
     border-width: thin;
     border-color: green;
}

h2 {
    color: #0000ff;
    font-size: 130%;}

h3 {
    color: #0000ff;
    font-size: 120%;
}

table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    table-layout: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-weight: bold;
    padding: 2px;
}

tr {
    border: 1px solid black;
    border-collapse: separate;
}

td {
    border: 1px solid black;
    text-align: left;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 8px;
    padding-bottom: 8px;

}

.box-around-text {
    border: 1px solid black;
    background: ivory;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 3pt;
    padding-right: 3pt;
    text-align: center;
}
*/

iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: green;
}
/*
    width = 100%;
    height = 100%;
*/

div.HelpPage {
    height: 100em;
    background: red;
}

.AsideNote {
    border-style: solid;
    border-color: blue;
    background: ivory;
    padding: 1em;
}

div.AsideNote > p {
    margin-top: 0em;
    margin-bottom: 0em;
}

div.AsideNote > asidepar {
    display: block;
    margin-top: 1em;
    margin-bottom: 0em;
}

table.wordlayout {
    border: 1px solid black;
}
